/*
 *  Document   : theme-white.scss
 *  Author     : RedStar Template
 *  Description: This scss file for white theme style classes
 */
@use "theme-color-variables" as themeColVar;

.theme-white {
  .navbar {
    background-color: transparent;

    .icon-color {
      color: #484c72;
    }

    .navbar-nav.navbar-right .user_profile span {
      color: #484c72;
    }
  }

  .navbar.active {
    background-color: themeColVar.$theme-white !important;
    box-shadow: 3px 0 10px 0 rgba(183, 192, 206, 0.2);

    .nav {
      >li {
        >a {
          color: #434d5a;
        }
      }
    }

    .collapse-menu-icon .mat-icon {
      color: #434d5a;
    }

    .nav-notification-icons .mat-icon {
      color: #434d5a;
    }
  }

  .navbar-brand {
    color: themeColVar.$theme-white-navbar-brand;

    &:hover {
      color: themeColVar.$theme-white-navbar-brand_hover;
    }

    &:active {
      color: themeColVar.$theme-white-navbar-brand_active;
    }

    &:focus {
      color: themeColVar.$theme-white-navbar-brand_focus;
    }
  }

  .nav {
    >li {
      >a {
        &:hover {
          background-color: themeColVar.$theme-white-nav-anchor_hover;
          text-decoration: none;
        }

        &:focus {
          background-color: themeColVar.$theme-white-nav-anchor_focus;
          text-decoration: none;
        }
      }
    }

    .open {
      >a {
        background-color: themeColVar.$theme-white-nav-anchor-opened;

        &:hover {
          background-color: themeColVar.$theme-white-nav-anchor-opened_hover;
        }

        &:focus {
          background-color: themeColVar.$theme-white-nav-anchor-opened_focus;
        }
      }
    }
  }

  .bars {
    color: themeColVar.$theme-white-bar;
  }

  .sidebar {
    .menu {
      .list {
        li {
          &.active {
            background-color: themeColVar.$theme-white-menu-list-active;
          }

          a {
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;

            i,
            span {
              -moz-transition: all 0.3s;
              -o-transition: all 0.3s;
              -webkit-transition: all 0.3s;
              transition: all 0.3s;
            }
          }
        }

        .ml-menu {
          background-color: themeColVar.$theme-white-menu-list-submenu;

          // li.active a:not(.menu-toggle):before {
          //   content: "\f068";
          //   font-family: "Font Awesome 5 Free";
          //   font-size: 11px;
          //   display: block;
          //   width: 7px;
          //   height: 7px;
          //   position: absolute;
          //   left: 10%;
          //   font-weight: 900;
          // }
        }
      }
    }

    .legal {
      background-color: themeColVar.$theme-white-legal-bg;

      .copyright {
        a {
          color: themeColVar.$theme-white !important;
        }
      }
    }
  }

  .breadcrumb li a {
    color: themeColVar.$theme-white-active-color !important;
  }

  .page-item.active .page-link {
    background-color: themeColVar.$theme-white-active-color;
    border-color: themeColVar.$theme-white-active-color;
    border-radius: 50%;
    margin: 5px;
    box-shadow: 0 4px 5px 0 #d4d8da, 0 1px 10px 0 #d4d8da,
      0 2px 4px -1px #d4d8da;
    padding: 0px 12px;
    min-width: 30px;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;
  }

  .btn-primary {
    background-color: themeColVar.$theme-white-active-color !important;
    color: #fff !important;
    border-color: themeColVar.$theme-white-active-color !important;

    &:hover {
      background-color: themeColVar.$theme-white-active-color !important;
      color: #fff !important;
    }

    &:active {
      background-color: themeColVar.$theme-white-active-color !important;
      color: #fff !important;
    }

    &:focus {
      background-color: themeColVar.$theme-white-active-color !important;
      color: #fff !important;
    }

    &:disabled {
      background-color: themeColVar.$theme-white-active-color !important;
      color: #fff !important;
    }
  }

  .btn-outline-primary {
    background: 0 0 !important;
    color: themeColVar.$theme-white-bar !important;
    border: 1px solid themeColVar.$theme-white-active-color !important;

    &:hover {
      background: themeColVar.$theme-white-active-color !important;
      color: #fff !important;
      border: 1px solid themeColVar.$theme-white !important;
    }
  }

  .timelineLabelColor strong {
    color: themeColVar.$theme-white-active-color !important;
  }

  .top-sidebar {
    .horizontal-menu {
      li {
        &.active {
          >a {
            color: themeColVar.$theme-white-active-color;
          }
        }

        a {
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;

          &:hover {
            color: themeColVar.$theme-white-active-color;
          }
        }
      }
    }
  }

  .demo-choose-skin li.actived:after {
    color: #000;
  }

  .nav-tabs>li>a:before {
    border-bottom: 2px solid themeColVar.$theme-white-active-color;
  }

  .search-box input#search {
    color: gray;
    background: #edecec;
  }

  .settingSidebar ul.choose-theme li.active div::after {
    color: #000;
  }

  .profile-header.bg-dark {
    background: linear-gradient(to right, #dbdbdc, #f2f2f2);
  }

  .profile-header {
    min-height: 150px;
    color: #000;
  }


  // Top-hd-select-dropdown

  .hospital-group-list .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mat-mdc-notch-piece {
    border-color: #1b1b1b;
  }

  .hospital-group-list .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mat-mdc-notch-piece {
    border-color: var(--mdc-outlined-text-field-outline-color, #1b1b1bb9);
    border-width: var(--mdc-outlined-text-field-outline-width, 1px);
  }

  .hospital-group-list .mat-mdc-select {
    color: #1b1b1b;
  }

  .hospital-group-list .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--mdc-outlined-text-field-label-text-color, #1b1b1bb9);
  }

  .hospital-group-list .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mat-mdc-notch-piece {
    border-color: var(--mdc-outlined-text-field-hover-outline-color, #1b1b1b);
  }

  .hospital-group-list .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-floating-label {
    color: var(--mdc-outlined-text-field-hover-label-text-color, #1b1b1b);
  }

  .hospital-group-list .mat-mdc-select-arrow {
    color: var(--mat-select-enabled-arrow-color, #1b1b1b);
  }

  .hospital-group-list .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mat-mdc-notch-piece {
    border-color: var(--mdc-outlined-text-field-focus-outline-color, #1b1b1b);
  }

  .hospital-group-list .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label {
    color: var(--mdc-outlined-text-field-focus-label-text-color, #1b1b1b);
  }

  .hospital-group-list .mat-mdc-form-field.mat-focused .mat-mdc-select-arrow {
    color: var(--mat-select-focused-arrow-color, #1b1b1b);
  }

  // End-Top-hd-select-dropdown

  .list-group-item.active {
    background-color: #F0F3FB !important;
    color: #212529;
  }

  .list-group .active:hover,
  .list-group .list-group-item.active:hover {
    background-color: #F0F3FB !important;
  }

  .badge-solid {
    color: #5f5f60 !important;
    background-color: #fff !important;
  }

  .list-group-item.active .arrow-btn i {
    color: #5f5f60 !important;
  }

  .arrow-btn i {
    color: #000 !important;
  }

  .card .header small {
    font-size: 12px;
    font-weight: 500;
    color: #4f5255 !important;
  }



}

/*Logo Header Background Color*/
.logo-white {
  .navbar-header {
    background-color: themeColVar.$theme-white;

    .logo-name {
      color: #000;
    }
  }
}
