<footer class="footer bg-dark pb-4" data-bs-theme="dark">
  <!-- Subscription -->
  <div class="border-bottom py-5">
    <div class="container py-sm-1 py-md-2 py-lg-3">
      <div class="text-center mx-auto" style="max-width: 580px">
        <h3 class="pb-1 mb-2">Stay in touch with us</h3>
        <p class="fs-sm text-body">Receive the latest updates about our products &amp; promotions</p>
        <form class="needs-validation position-relative d-flex flex-column flex-sm-row gap-2 pt-3" novalidate>
          <input type="email" class="form-control form-control-lg rounded-pill text-start" placeholder="Your email" aria-label="Your email address" required>
          <div class="invalid-tooltip bg-transparent p-0">Please enter your email address!</div>
          <button type="submit" class="btn btn-lg btn-primary rounded-pill">Subscribe</button>
        </form>
      </div>
    </div>
  </div>

  <div class="container py-4 py-md-5 foot">
    <div class="row pt-3 pb-4 py-md-1 py-lg-3">
      <!-- Promo text + Social account links -->
      <div class="col-lg-3 text-center text-lg-start pb-sm-2 pb-md-0 mb-4 mb-md-5 mb-lg-0">
        <h4 class="pb-2 mb-1">
          <a class="text-dark-emphasis text-decoration-none" routerLink="/">Yuvic</a>
        </h4>
        <p class="fs-sm text-body mx-auto" style="max-width: 480px">
          With a wide selection of fresh produce, pantry staples, and household essentials, 
          we've got everything you need just a click away.
        </p>
        <div class="d-flex justify-content-center justify-content-lg-start gap-2 pt-2 pt-md-3">
          <a class="btn btn-icon fs-base btn-outline-secondary border-0" 
             href="#" 
             data-bs-toggle="tooltip" 
             title="Instagram" 
             aria-label="Follow us on Instagram">
            <i class="ci-instagram"></i>
          </a>
          <a class="btn btn-icon fs-base btn-outline-secondary border-0" 
             href="#" 
             data-bs-toggle="tooltip" 
             title="Facebook" 
             aria-label="Follow us on Facebook">
            <i class="ci-facebook"></i>
          </a>
          <a class="btn btn-icon fs-base btn-outline-secondary border-0" 
             href="#" 
             data-bs-toggle="tooltip" 
             title="Telegram" 
             aria-label="Follow us on Telegram">
            <i class="ci-telegram"></i>
          </a>
          <a class="btn btn-icon fs-base btn-outline-secondary border-0" 
             href="#" 
             data-bs-toggle="tooltip" 
             title="WhatsApp" 
             aria-label="Follow us on WhatsApp">
            <i class="ci-whatsapp"></i>
          </a>
        </div>
      </div>

      <!-- Columns with links -->
      <div class="col-lg-8 offset-lg-1">
        <div class="accordion" id="footerLinks">
          <div class="row">
            <!-- Categories Column -->
            <div class="accordion-item col-sm-3 border-0">
              <h6 class="accordion-header" id="categoriesHeading">
                <span class="text-dark-emphasis d-none d-sm-block">Categories</span>
                <button type="button" class="accordion-button collapsed py-3 d-sm-none" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#categoriesLinks" 
                        aria-expanded="false" 
                        aria-controls="categoriesLinks">
                  Categories
                </button>
              </h6>
              <div class="accordion-collapse collapse d-sm-block" 
                   id="categoriesLinks" 
                   aria-labelledby="categoriesHeading" 
                   data-bs-parent="#footerLinks">
                <ul class="nav flex-column gap-2 pt-sm-3 pb-3 pb-sm-0 mt-n1 mb-1 mb-sm-0">
                  <li *ngFor="let link of footerLinks.categories" class="d-flex w-100 pt-1">
                    <a class="nav-link animate-underline animate-target d-inline fw-normal text-truncate p-0" 
                       [routerLink]="link.link">
                      {{ link.name }}
                    </a>
                  </li>
                </ul>
              </div>
              <hr class="d-sm-none my-0">
            </div>

            <!-- Company Column -->
            <div class="accordion-item col-sm-3 border-0">
              <h6 class="accordion-header" id="companyHeading">
                <span class="text-dark-emphasis d-none d-sm-block">Company</span>
                <button type="button" class="accordion-button collapsed py-3 d-sm-none" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#companyLinks" 
                        aria-expanded="false" 
                        aria-controls="companyLinks">
                  Company
                </button>
              </h6>
              <div class="accordion-collapse collapse d-sm-block" 
                   id="companyLinks" 
                   aria-labelledby="companyHeading" 
                   data-bs-parent="#footerLinks">
                <ul class="nav flex-column gap-2 pt-sm-3 pb-3 pb-sm-0 mt-n1 mb-1 mb-sm-0">
                  <li *ngFor="let link of footerLinks.company" class="d-flex w-100 pt-1">
                    <a class="nav-link animate-underline animate-target d-inline fw-normal text-truncate p-0" 
                       [routerLink]="link.link">
                      {{ link.name }}
                    </a>
                  </li>
                </ul>
              </div>
              <hr class="d-sm-none my-0">

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <p class="container fs-xs text-body text-center text-lg-start pb-md-3 mb-0">
    &copy; {{ currentYear }} All rights reserved. Made with 
    <i class="ci-heart-filled align-middle"></i> by 
    <span class="animate-underline">
      <a class="animate-target text-white text-decoration-none" 
         href="https://coderthemes.com" 
         target="_blank" 
         rel="noreferrer">
        Coderthemes
      </a>
    </span>
  </p>
