:host ::ng-deep .column-filter .mat-mdc-select-arrow {
  display: none;
}
:host ::ng-deep .advance-table .mat-mdc-header-cell {
  font-weight: 500;
}
:host ::ng-deep .mat-column-title {
  min-width: 200px;
}
:host ::ng-deep .mat-column-slug {
  min-width: 150px;
}
.mat-icon{
  height: auto !important;
}